@import "@/styles/const.scss";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }
  &::-webkit-scrollbar {
    width: $scrollbarWidth;
  }
  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin flex($row: flex-start, $column: stretch, $direction: row, $wrap: nowrap) {
  display: flex;
  justify-content: $row;
  align-items: $column;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin position($type: absolute, $top: auto, $right: auto, $bottom: auto, $left: auto){
  position: $type;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin line-overflow($line: 2) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all;
}

@mixin img-size($width, $height) {
  width: auto;
  height: auto;
  max-width: $width;
  max-height: $height;
}

@mixin background-image($width: 0, $height: 0, $url: '') {
  width: $width;
  height: $height;
  background-size: 100% 100%;
}

@mixin box-shadow($h-shadow: 0px, $v-shadow: 0px, $blur: 12px, $spread: 0px, $color: rgba(102, 102, 102, 0.1)){
  box-shadow: $h-shadow $v-shadow $blur $spread $color;
}

@mixin textEllipsis($lineNum: 1) {
  @if $lineNum == 1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineNum; //需要显示的行数
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin scroll($sign: desktop) {
  @if $sign == desktop {
    &::-webkit-scrollbar {
      width: $scrollbarWidth;
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: $scrollbarWidth;
      background-color: transparent;
    }
    &:hover {
      &::-webkit-scrollbar {
        width: $scrollbarWidth;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: $scrollbarWidth / 2;
        background-color: #999;
      }
    }
  } @else if $sign == web {
    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      border-style: dashed;
      border-color: transparent;
      border-width: 2px;
      background-color: rgb(153, 153, 153);
      background-clip: padding-box;
      &:hover {
        background: rgb(153, 153, 153);
      }
    }
  }
}
