@color-white: #fff;

// common
@default-font-color: #1D2129;
@default-logo-color: #165DFF;
@default-font-color-hover: #165DFF;
@default-border-color: #E5E6EB;
@default-svg-arrow-color: #86909C;
@default-svg-arrow-color-hover: #165DFF;

// navbar
@default-navbar-height: 48px;
@default-navbar-bg-color: #FFF;
@default-navbar-box-shadow: 0 0 8px 0 #0000001a;
@default-navbar-border-color: #E2E2E2;
@default-navbar-bench-bg-color: #E8F3FF;
@default-navbar-svg-color: #4E5969;
@default-navbar-icons-bg-color-hover: #F1F2F8;
@default-navbar-notice-font-color: #4E5969;
@default-navbar-menu-1-font-color: #2c4d99;
@default-navbar-menu-3-font-color: #4E5969;
@default-navbar-drawer-square-color: #F4FAFF;
@default-navbar-drawer-classify-menu-color-active: linear-gradient(-6deg, #7da4ff 0%, #165DFF 100%);

// sidemenu
@default-sidemenu-bg-color: #165DFF;
@default-sidemenu-box-shadow: 0 0 8px 0 #0000001a;
@default-sidemenu-width: 224px;
@default-sidemenu-width-collapsed: 64px;
@default-sidemenu-border-color-collapsed: #ffffff4d;
@default-sidemenu-font-color-collapsed: #fff;
@default-sidemenu-space-bg-color: #ffffff26;
@default-sidemenu-space-border-color: #ffffff4d;
@default-sidemenu-space-border-color-hover: #165dff80;
@default-sidemenu-font-color: #fff;
@default-sidemenu-bg-color-hover: rgba(255, 255, 255, .3);
@default-sidemenu-selected-bg-color-hover: rgba(255, 255, 255, .8);
@default-sidemenu-second-font-color: rgba(255, 255, 255, .8);
@default-sidemenu-arrow-color: #fff;
@default-sidemenu-arrow-color-hover: #fff;

// content
@default-content-bg-color: #F2F4F7;

// popover
@default-popover-bg-color-hover: #F1F2F8;
@default-popover-bg-color-active: #0e42d21a;
@default-popover-font-color-active: #0E42D2;


// -------------------------light------------------------------
// common
@light-font-color: #fff;
@light-svg-arrow-color: #fff;

// navbar
@light-navbar-bench-bg-color: #fff;
@light-navbar-svg-color: #fff;

// sidemenu
@light-sidemenu-font-color: #1D2129;
@light-sidemenu-border-color-collapsed: transparent;
@light-sidemenu-font-color-collapsed: #4E5969;
@light-sidemenu-space-bg-color: rgba(255, 255, 255, .5);
@light-sidemenu-space-border-color: transparent;
@light-sidemenu-font-color: #1D2129;
@light-sidemenu-selected-bg-color-hover: rgba(255, 255, 255, .6);
@light-sidemenu-second-font-color: #4E5969;
@light-sidemenu-arrow-color: #4E5969;