// @import './message/index.less';
@import './mixins.less';

@ant-prefix: hwork;

// theme
@theme-default: theme-default;
@theme-light: theme-light;
@sidemnu-theme-default: sidemnu-theme-default;

// modal
@modal-body-padding: 0px;

// input
@input-border-color: #c9cdd4;
@input-hover-border-color: rgba(22, 93, 255, 0.5);

body {
  --default-font-color-hover: @default-font-color-hover;
  --default-logo-color: @default-logo-color;

  --default-navbar-bg-color: @default-navbar-bg-color;
  --default-navbar-bench-color: @default-font-color;
  --default-navbar-font-color-hover: @default-font-color-hover;
  --default-navbar-drawer-bg-color: url('/static/background.png');
  --default-navbar-drawer-square-color: @default-navbar-drawer-square-color;
  --default-navbar-drawer-first-menu-color: @default-font-color-hover;
  --default-navbar-setting-first-menu-color: @default-navbar-menu-1-font-color;
  --default-navbar-drawer-classify-menu-color-active: @default-navbar-drawer-classify-menu-color-active;

  --default-sidemenu-bg-color: @default-sidemenu-bg-color;
  --default-sidemenu-bg-color-hover: @default-sidemenu-bg-color-hover;
  --default-sidemenu-font-color-hover: @default-sidemenu-font-color;
  --default-sidemenu-arrow-color-hover: @default-sidemenu-arrow-color-hover;

  --default-popover-bg-color-hover: @default-popover-bg-color-hover;
  --default-popover-bg-color-active: @default-popover-bg-color-active;
  --default-popover-font-color-hover: @default-font-color-hover;
  --default-popover-font-color-active: @default-popover-font-color-active;

  --default-tag-font-color-active: @default-font-color-hover;
}
