// ant-design-vue CSS 类名前缀
@ant-prefix: ant;

// 主题名称变量（对应 JS 中 store 设置的 class 名）
@theme-default: theme-default;
@theme-light: theme-light;
@sidemnu-theme-default: sidemnu-theme-default;

// 侧边栏尺寸（编译期常量）
@sidemenu-width: 224px;
@sidemenu-width-collapsed: 64px;

@color-white: #fff;

// common
@default-font-color: #1d2129;
@default-logo-color: #165dff;
@default-font-color-hover: #165dff;
@default-border-color: #e5e6eb;
@default-svg-arrow-color: #86909c;
@default-svg-arrow-color-hover: #165dff;

// navbar
@default-navbar-height: 48px;
@default-navbar-bg-color: #fff;
@default-navbar-box-shadow: 0 0 8px 0 #0000001a;
@default-navbar-border-color: #e2e2e2;
@default-navbar-bench-bg-color: #e8f3ff;
@default-navbar-svg-color: #4e5969;
@default-navbar-icons-bg-color-hover: #f1f2f8;
@default-navbar-notice-font-color: #4e5969;
@default-navbar-menu-1-font-color: #2c4d99;
@default-navbar-menu-3-font-color: #4e5969;
@default-navbar-drawer-square-color: #f4faff;
@default-navbar-drawer-classify-menu-color-active: linear-gradient(-6deg, #7da4ff 0%, #165dff 100%);

// sidemenu
@default-sidemenu-bg-color: #165dff;
@default-sidemenu-box-shadow: 0 0 8px 0 #0000001a;
@default-sidemenu-width: 224px;
@default-sidemenu-width-collapsed: 64px;
@default-sidemenu-border-color-collapsed: #ffffff4d;
@default-sidemenu-font-color-collapsed: #fff;
@default-sidemenu-space-bg-color: #ffffff26;
@default-sidemenu-space-border-color: #ffffff4d;
@default-sidemenu-space-border-color-hover: #165dff80;
@default-sidemenu-font-color: #fff;
@default-sidemenu-bg-color-hover: rgba(255, 255, 255, 0.3);
@default-sidemenu-selected-bg-color-hover: rgba(255, 255, 255, 0.8);
@default-sidemenu-second-font-color: rgba(255, 255, 255, 0.8);
@default-sidemenu-arrow-color: #fff;
@default-sidemenu-arrow-color-hover: #fff;

// content
@default-content-bg-color: #f2f4f7;

// popover
@default-popover-bg-color-hover: #f1f2f8;
@default-popover-bg-color-active: #0e42d21a;
@default-popover-font-color-active: #0e42d2;

// -------------------------light------------------------------
// common
@light-font-color: #fff;
@light-svg-arrow-color: #fff;

// navbar
@light-navbar-bench-bg-color: #fff;
@light-navbar-svg-color: #fff;

// sidemenu
@light-sidemenu-font-color: #1d2129;
@light-sidemenu-border-color-collapsed: transparent;
@light-sidemenu-font-color-collapsed: #4e5969;
@light-sidemenu-space-bg-color: rgba(255, 255, 255, 0.5);
@light-sidemenu-space-border-color: transparent;
@light-sidemenu-font-color-2: #1d2129;
@light-sidemenu-selected-bg-color-hover: rgba(255, 255, 255, 0.6);
@light-sidemenu-second-font-color: #4e5969;
@light-sidemenu-arrow-color: #4e5969;
